<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>
  <joint name="rplidar_joint" type="fixed">
    <origin xyz="0 0 0.04" rpy="0 0 0" />
    <parent link="plate_top_link" />
    <child link="rplidar_link">
  </joint>
  <link name="rplidar_link">
    <visual>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.04" radius="0.03"/>
      </geometry>
    </visual>
  </link>
</robot>
